.Dom {
  width:100%;
  height:100%;
  padding:0;
  margin:0;
  overflow: hidden;
  position: relative;
}
.Video {
  width:100%;
  height:100%;
  padding:0;
  margin:0;
  overflow: hidden;
  position: relative;
  z-index: 3;
}
.moveButton {
  position: absolute;
  border: none;
  border-radius: 20px;
  color: white;
  background-color: red;
}
.title{
  text-align: center;
  font-family: helvetica;
  font-weight: 900;
}
.box{
  margin-top: -10%;
  margin-left: 5px;
  margin-right: 5px;
  height: 50%;
  background-color: blue;
}
.text{
  margin-top: -40;
  font-family: helvetica;
}
